[phases.setup]
aptPkgs = [
  "libglib2.0-0",
  "libnss3",
  "libatk1.0-0",
  "libatk-bridge2.0-0",
  "libcups2",
  "libdrm2",
  "libxkbcommon0",
  "libxcomposite1",
  "libxdamage1",
  "libxext6",
  "libxfixes3",
  "libxrandr2",
  "libgbm1",
  "libpango-1.0-0",
  "libcairo2",
  "libasound2",
  "libx11-6",
  "libx11-xcb1",
  "libxcb1",
  "libxshmfence1",
  "libgtk-3-0"
]
